@font-face {
    font-family: 'vag_rounded_tlregular';
    src: url('./assets/vag_rounded_tl-webfont.woff2') format('woff2'),
         url('./assets/vag_rounded_tl-webfont.woff') format('woff');
         url('./assets/VAG_Rounded_TL.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

.slide-1 {

    font-family: 'vag_rounded_tlregular', Roboto, sans-serif;
}

.styled-slyde {
    width: 100%;
    height: 100vh;
}

.first_slide {
    display: flex;
    align-items: center;
    justify-content: flex-between;
}

.first_slide__column {
    width: 50%;
}

.title-text {
    position:  relative;
    z-index: 3;
    right: 100px;
    top: 70px;
}

.first_slide__column svg {
    height: auto;
    width: 230px;
    position: absolute;
    bottom: 0;
    left: 55px;
    transform: scale(-1, 1);
    z-index: 2;
}

.first_slide__title {
    font-size: 57px;
    line-height: 87px;
    color: #111;
    margin-bottom: 25px;
}

.first_slide__description {
    color: #111;
    font-size: 36px;
    line-height: 48px;
}

.first_slide__description .name .job {
    font-weight: 600;
}
.first_slide__description .logo {
    width: 175px;
    margin-top: 15px;
}

.index {
    position: relative;
    z-index: 2;
}

.blur {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
}

.first_slide .first_slide__buble_container svg {
    position: absolute;
    top: -225px;
    left: -75px;
    transform: rotate(140deg);
    z-index: 1;
    opacity: 0.3;
}
.first_slide .first_slide__buble_container img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    max-width: 450px;
    /* transform: scale(-1, 1) */
}

.flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mt-95 {
    margin-top: 95px;
}

.mb-25 {
    margin-bottom: 25px;
}

.slide-2__mem {
    margin: 0 auto;
}

.row {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.second_slide__container img {
    width: 475px;
}
.pos-rel {
    position: relative;
}
.svg-position {
   margin-top: 25px;
}
.svg-animation {
    transform: rotate(-90deg)
}
.svg-animation .animate {
    stroke-dasharray: 613px;
    animation: circle 5s infinite;
}
@keyframes circle {
    from {
        stroke-dashoffset: 613px;
    }
    to: {
        stroke-dashoffset: 0px;
    }
}

.third_slide-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 35px;
}
.third_slide-container .column {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-3 .container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.slide-3 .container > div {
    width: 50%;
}

.slide-4 svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide-4 rect {
    animation: loader 1.5s infinite;
    transform-origin: center
}

.slide-4 .rect-1 {
    animation-delay: 0s;
}
.slide-4 .rect-2 {
    animation-delay: 0.15s;
}
.slide-4 .rect-3 {
    animation-delay: 0.3s;
}

.slide-4 svg {
    cursor: pointer;
}
.slide-4 .lamp-line {
    stroke-width: 60px;
    transition: 0.5s;
}
.slide-4 svg .ligth {
    opacity: 0;
    transition: 0.5s;
}
.slide-4 svg:hover .ligth {
    opacity: 0.5;
}
.slide-4 svg:hover .lamp-line {
    stroke-width: 85px;
    stroke: orange;
}


.slide-7 svg {
    display: block;
    margin: 0 auto;
}

.letter {
    stroke-dasharray: 1500px;
    animation: write 5s infinite;
}

@keyframes write {
    from {
        stroke-dashoffset: 1500px;
    }
    to: {
        stroke-dashoffset: 0px;
    }
}

.slide-8 {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}
.slide-9 .green-sock {
    width: 250px;
    position: absolute;
    top: 150px;
    right: 75px;
}
.slide-9 .snap {
    width: 250px;
    position: absolute;
    top: 200px;
    right: 350px;
}

.col {
    width: 50%;
    display: block;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.slide-11 .loader {
    position: relative;
    left: -120px;
}

 .flex-row {
    margin-top: -85px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.wrap-cell {
    width: 50%;
}

.slide-19 .col {
    margin-top: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-18 img {
    max-width: 60%;
}
.slide-18 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-20, .slide-21, .flex-row {
    margin: 0;
}

.slide-21 img {
    max-width: 50%;
}
.slide-21 a {
    margin-right: 15px;
}
.slide-24 img {
    width: 75%;
}
.slide-27, .slide-28, .slide-30 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-25 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-27 img {
    max-width: 35%;
}
.slide-33 img {
    max-width: 300px;
}

.slide-17 .flex-row {
    margin-top: -90px;
}

.slide-11 .flex-row {
    margin-top: 0;
}
.slide-14 .flex-row {
    margin-top: -50px;
}
.slide-15 .flex-row {
    margin-top: -95px;
}




.slide-31 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.circle-test {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FA8273;
    animation: perfomance-test 1s infinite;
}

@keyframes perfomance-test {
    from {
        transform: translateX(0);
        background: #FA8273;
    }
    to {
        transform: translateX(750px);
        background: #B3E0EA;
    }
}

.slide-32 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.slide-32 div {
    width: 50%;
    display: flex;
    justify-content: center;
    align=items: center;
    flex-direction: column;
} 

.slide-32 div h2 {
    text-align: center;
}

.slide-22 .col {
    width: 100%;
}
.slide-23 .col {
    width: 100%;
}